body {
    background: #15abdb !important;
}
header {
    text-align: center;
    color: #000;
    background: #fff;
    width:100%;
}
section .container {
    padding-top: 50px;
}
footer {
    color: #FFF;
    font-family: 'lato';
    padding: 1em;
    text-align: center;
}
.title {
    font-family: 'lato';
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
}
.title span {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}
.x-grid-row-summary .x-grid-cell-inner {
    font-weight: bold;
}
.logo-github {
    padding-top: 30px;
}
#invoiceTable {
    padding-bottom: 2em;
}